* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  background-color: #000000dd;
  border-radius: 15px;
  color: white;
  padding: 15px;
  padding-top: 40px;
}
.calculator .screen {
  height: 170px;
  width: 100%;
  padding-bottom: 10px;
}
.calculator .pre-number {
  font-size: 5rem;
  text-align: right;
  color: lightgray;
}

.calculator .new-number {
  font-size: 8rem;
  text-align: right;
}

.calculator .btn-list {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: repeat(5, 60px);
  gap: 15px;
}
.btn-list button {
  border-radius: 15px;
  outline: none;
  border: none;
  color: white;
  background-color: #333333;
  cursor: pointer;
  box-shadow: inset 5px 5px 5px rgb(35, 35, 35), inset -5px -5px 5px #2c2c2c,
    -5px -5px 5px #2c2c2c, 5px 5px 5px black;
  background-color: #212121;
  transition: all 0.2s ease;
}
.btn-list button:nth-child(17) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.btn-list button:nth-child(1),
.btn-list button:nth-child(2),
.btn-list button:nth-child(3) {
  background-color: blue;
  cursor: pointer;
  box-shadow: inset 5px 5px 5px #5959f9, inset -5px -5px 5px #5959f9,
    -5px -5px 5px #474747af, 5px 5px 5px black;
}
.btn-list button:nth-child(4n),
.btn-list button:nth-child(19) {
  box-shadow: inset 5px 5px 5px #f99034, inset -5px -5px 5px #f99034,
    -5px -5px 5px #474747af, 5px 5px 5px black;
  background: #ff7700;
}
.btn-list button:active {
  box-shadow: unset;
}
